{% extends 'base.html' %}

{% block title %}
<title>Michael Mahoney - Projects</title>
{% endblock %}

{% block main %}

<!-- Header -->
<header id="header">

</header>

<section id="content">
    <header class="main">
        <h1>"Warbler" - a Twitter Clone</h1>
    </header>

    <span class="image main"><img src="{{ url_for('static', filename='projects/Warbler/warbler.jpg') }}" alt="" /></span>


    <hr class="major cleared" />

    <h2>Background</h2>
    <div><span class="image left"><img src="{{ url_for('static', filename='projects/Warbler/setup.JPG') }}" alt="" /></span></div>
    <p>Lorem ipsum dolor
        sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
        Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt
        felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus
        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
        felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
        praesent.</p>
    <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante
        interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet
        egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
        Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>


    <hr class="major cleared" />

    <h2>Part 1: Fixing features and cleaning up code</h2>
    <p><span class="image right"><img src="{{ url_for('static', filename='projects/Warbler/setup2.jpg') }}" alt="" /></span>Lorem ipsum dolor
        sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
        Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt
        felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus
        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
        felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
        praesent.</p>
    <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante
        interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet
        egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
        Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

    <hr class="major cleared" />

    <h2>Part 2: Connecting to the database, adding the "Like" button</h2>
    <div><span class="image left"><img src="{{ url_for('static', filename='projects/Warbler/setup2.jpg') }}" alt="" /></span></div>
    <p>Lorem ipsum dolor
        sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
        Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt
        felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus
        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
        felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
        praesent.</p>
    <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante
        interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet
        egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
        Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

    <hr class="major cleared" />

    <h2>Part 3: Adding tests</h2>
    <p><span class="image right"><img src="{{ url_for('static', filename='projects/Warbler/setup3.JPG') }}" alt="" /></span>Lorem ipsum dolor
        sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
        Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt
        felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus
        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
        felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
        praesent.</p>
    <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante
        interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet
        egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
        Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

    <hr class="major cleared" />

    <h2>Part 4: Further Study</h2>
    <p><span class="image right"><img src="{{ url_for('static', filename='projects/Warbler/setup3.JPG') }}" alt="" /></span>Lorem ipsum dolor
        sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
        Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt
        felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus
        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
        felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
        praesent.</p>
    <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante
        interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet
        egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
        Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
</section>

{% endblock %}