<!DOCTYPE HTML>
<html>
<head>
    <title>About Me</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">

                </header>

                <section id="content">
                    <header class="main">
                        <h1>Who I am</h1>
                    </header>

                    <span class="image main"><img src="images/about-me.jpg" alt="" /></span>


                    <hr class="major" />

                    <h2>Interdum sed dapibus</h2>
                    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
                        venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim
                        auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque
                        in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar
                        mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque
                        enim turpis, hendrerit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam
                        tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc
                        ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non,
                        bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In
                        non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor
                        imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet.
                        Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at,
                        elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

                    <hr class="major" />

                    <h2>Magna etiam veroeros</h2>
                    <div class="spotlight style1 orient-left content-align-left image-position-center">
                        <div class="content">
                            <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante
                                interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet
                                egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
                                Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
                        </div>
                        <span class="image">
                            <img src="images/skiing.jpg" alt="" />
                        </span>
                    </div>

                    <hr class="major" />

                    <h2>Magna etiam veroeros</h2>
                    <div class="spotlight style1 orient-right content-align-left image-position-center">
                        <div class="content">
                            <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante
                                interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet
                                egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
                                Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
                        </div>
                        <span class="image">
                            <img src="images/unsplash5.jpg" alt="" />
                        </span>
                    </div>

                </section>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="resume.html">Resume</a></li>
                    </ul>
                </nav>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Connect with me</h2>
                    </header>
                    <p>I'm always looking to connect with folks and hear about what you're up to, what you think of my
                        projects, and how software can work to improve the lives of people. If you'd like to connect
                        with me, then please reach out!</p>
                    <ul class="contact">
                        <li class="icon solid fa-envelope"><a
                                href="mailto:michael.mahoney3315@gmail.com">michael.mahoney3315@gmail.com</a></li>
                        <li class="icon brands fa-linkedin-in"><a
                                href="https://www.linkedin.com/in/michael-mahoney67/">michael-mahoney67/</a></li>
                        <li class="icon brands fa-github"><a href="https://github.com/MMahoney6713">MMahoney6713/</a>
                        </li>
                        <!-- <li class="icon brands fa-medium-m"><a href="#">MMahoney6713/</a></li> -->
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">Template By: <a href="https://html5up.net">HTML5UP</a>.</p>
                    <p class="copyright">Design By: Michael Mahoney</p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>