{% extends 'base.html' %}

{% block title %}
<title>Michael Mahoney</title>
{% endblock %}

{% block main %}
<!-- Header -->
<header id="header">
</header>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Hi, I’m Michael.</h1>
			<!-- <p>&lt; Web Developer &gt;</p> -->
		</header>
		<p>I'm a Software Developer, Product Engineer, and People Developer with a strong interest in full-stack and back-end development. In my programming work I leverage my years of experience as a mechanical engineer to build clean, efficient code that is rigorously tested. </p>
		<p>In particular, I'm excited about building software that helps people grow. With strengths in seeing talent in people and helping to develop them, I look forward to using my skills to see others grow.</p>
	</div>
	<span class="image object">
		<img src="{{ url_for('static', filename='images/headshot.jpg') }}" alt="Image of Michael Mahoney" />
	</span>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>What I like to work on:</h2>
	</header>
	<div class="features">
		<article>
			<span class="icon solid fa-laptop-code"></span>
			<div class="content">
				<h3>Full-Stack Web Development</h3>
				<p>I bring your content to life by leveraging my skills in product design and
					software engineering.</p>
			</div>
		</article>
		<article>
			<span class="icon solid"><i class="fab fa-python"></i></span>
			<div class="content">
				<h3>Back-end with Python</h3>
				<p>Experienced with leveraging the tools of Flask/SQLAlchemy and Django to develop
					secure back-end software and RESTful APIs.</p>
			</div>
		</article>
		<article>
			<span class="icon solid"><i class="fab fa-js-square"></i></span>
			<div class="content">
				<h3>JavaScript/HTML/CSS</h3>
				<p>Building sophisticated, event-driven applications by manipulating webpages and
					fetching external data from APIs. </p>
			</div>
		</article>
		<article>
			<span class="icon solid fa-server"></span>
			<div class="content">
				<h3>PostgreSQL/MySQL</h3>
				<p>Making performant database models and queries</p>
			</div>
		</article>
	</div>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>Recent Projects:</h2>
	</header>
	<div class="posts">
		<article>
			<a href="{{ url_for('static', filename='projects/capstone1/capstone1.html') }}" class="image">
				<img src="{{ url_for('static', filename='projects/capstone1/Images/capstone1.jpg') }}" alt="Image of the project" />
			</a>
			<h3>On Purpose</h3>
			<p>A web application goal planner based on creating 'milestones' according to your life mission and the goals you make to get you there. </p>
			<ul class="actions">
				<li><a href="{{ url_for('static', filename='projects/capstone1/capstone1.html') }}" class="button">Details</a></li>
			</ul>
		</article>
		<article>
			<a href="{{ url_for('static', filename='projects/Warbler/warbler.html') }}" class="image">
				<img src="{{ url_for('static', filename='projects/Warbler/Images/warbler.jpg') }}" alt="Image of the project" />
			</a>
			<h3>Warbler: A Twitter Clone</h3>
			<p>Extending the functionality of a Twitter clone; gaining comfort with understanding/cleaning an existing codebase as well as adding additional model functionality.</p>
			<ul class="actions">
				<li><a href="{{ url_for('static', filename='projects/Warbler/warbler.html') }}" class="button">Details</a></li>
			</ul>
		</article>
	</div>
</section>

{% endblock %}