<!DOCTYPE HTML>
<html>
<head>
    <title>Michael Mahoney - Projects</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Projects:</h2>
                    </header>
                    <div class="posts">
                        <article>
                            <a href="projects/Warbler/warbler.html" class="image"><img
                                    src="projects/Warbler/Images/warbler.jpg" alt="" /></a>
                            <h3>Warbler: A Twitter Clone</h3>
                            <p>Extending the functionality of a Twitter clone; gaining comfort with
                                understanding/cleaning an existing codebase as well as adding additional model
                                functionality.</p>
                            <ul class="actions">
                                <li><a href="projects/Warbler/warbler.html" class="button">Details</a></li>
                            </ul>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/unsplash2.jpg" alt="" /></a>
                            <h3>Nulla amet dolore</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                    </div>
                </section>

                <hr class="major" />

                <section>
                    <header class="major">
                        <h2>Things I'm learning:</h2>
                    </header>
                    <div class="posts">
                        <article>
                            <a href="#" class="image"><img src="images/unsplash1.jpg" alt="" /></a>
                            <h3>Interdum aenean</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/unsplash2.jpg" alt="" /></a>
                            <h3>Nulla amet dolore</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/unsplash3.jpg" alt="" /></a>
                            <h3>Tempus ullamcorper</h3>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                    </div>
                </section>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="resume.html">Resume</a></li>
                    </ul>
                </nav>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Connect with me</h2>
                    </header>
                    <p>I'm always looking to connect with folks and hear about what you're up to, what you think of my
                        projects, and how software can work to improve the lives of people. If you'd like to connect
                        with me, then please reach out!</p>
                    <ul class="contact">
                        <li class="icon solid fa-envelope"><a
                                href="mailto:michael.mahoney3315@gmail.com">michael.mahoney3315@gmail.com</a></li>
                        <li class="icon brands fa-linkedin-in"><a
                                href="https://www.linkedin.com/in/michael-mahoney67/">michael-mahoney67/</a></li>
                        <li class="icon brands fa-github"><a href="https://github.com/MMahoney6713">MMahoney6713/</a>
                        </li>
                        <!-- <li class="icon brands fa-medium-m"><a href="#">MMahoney6713/</a></li> -->
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">Template By: <a href="https://html5up.net">HTML5UP</a>.</p>
                    <p class="copyright">Design By: Michael Mahoney</p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>