{% extends 'base.html' %}

{% block title %}
<title>Michael Mahoney - Projects</title>
{% endblock %}

{% block main %}

<!-- Section -->
<section>
    <header class="major">
        <h2>Projects:</h2>
    </header>
    <div class="posts">
        <article>
            <a href="{{ url_for('static', filename='projects/Warbler/warbler.html') }}" class="image"><img
                    src="{{ url_for('static', filename='projects/Warbler/Images/warbler.jpg') }}" alt="" /></a>
            <h3>Warbler: A Twitter Clone</h3>
            <p>Extending the functionality of a Twitter clone; gaining comfort with
                understanding/cleaning an existing codebase as well as adding additional model
                functionality.</p>
            <ul class="actions">
                <li><a href="{{ url_for('static', filename='projects/Warbler/warbler.html') }}" class="button">Details</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{{ url_for('static', filename='images/unsplash2.jpg') }}" alt="" /></a>
            <h3>Nulla amet dolore</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
    </div>
</section>

<hr class="major" />

<section>
    <header class="major">
        <h2>Things I'm learning:</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="{{ url_for('static', filename='images/unsplash1.jpg') }}" alt="" /></a>
            <h3>Interdum aenean</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{{ url_for('static', filename='images/unsplash2.jpg') }}" alt="" /></a>
            <h3>Nulla amet dolore</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{{ url_for('static', filename='images/unsplash3.jpg') }}" alt="" /></a>
            <h3>Tempus ullamcorper</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
    </div>
</section>

{% endblock %}