[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/Desktop/Portfolio/michael-mahoney-portfolio
Environment="PATH=/home/Desktop/Portfolio/michael-mahoney-portfolio/venv/bin"
ExecStart=/home/Desktop/Portfolio/michael-mahoney-portfolio/venv/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target